@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  transition: all 0.3s ease-in;
}

body {
  height: 100vh;
  background: hsl(216deg, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert__container {
  position: absolute;
  color: white;
  width: 300px;
  height: 70px;
  border-left: 7px solid hsl(25deg, 97%, 53%);
  background: hsl(213deg, 19%, 18%);
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bolder;
  transform: translateY(-100px);
  transition: all 0.2s ease-in;
}
.alert__container.show {
  transform: translateY(0px);
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container {
  width: 400px;
  height: 400px;
}

.card {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 10px 10px rgb(17, 17, 17);
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  position: relative;
}

.card figure {
  width: 100%;
  height: 100%;
  position: static;
  margin: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card .front {
  background: hsl(213deg, 19%, 18%);
  transition: all 0.3s linear;
}

.card .back {
  background: hsl(213deg, 19%, 18%);
  opacity: 0;
  transition: all 0.3s linear;
  transform: rotateY(180deg);
}

.front__container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem;
  gap: 1.5rem;
}
.front__container .star {
  width: 40px;
  height: 40px;
  background: hsla(0deg, 2%, 64%, 0.137);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front__container .text__wrapper {
  display: flex;
  flex-direction: column;
  color: hsl(0deg, 0%, 100%);
}
.front__container .text__wrapper .desc {
  color: hsl(217deg, 12%, 63%);
  margin-top: 1rem;
}
.front__container .rating__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.front__container .rating__container .rating__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.front__container .rating__container .rating__wrapper .rating {
  background: rgba(156, 154, 154, 0.212);
  border-radius: 50%;
  text-align: center;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: hsl(217deg, 12%, 63%);
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
}
.front__container .rating__container .rating__wrapper .rating:hover {
  background: rgba(241, 239, 239, 0.322);
}
.front__container .rating__container .rating__wrapper .rating.active {
  background: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
}
.front__container .rating__container .submitBtn {
  outline: none;
  border: none;
  background: hsl(25deg, 97%, 53%);
  border-radius: 30px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s linear;
}
.front__container .rating__container .submitBtn:hover {
  background: hsl(25deg, 94%, 42%);
}

.back__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 1rem;
}
.back__container .feedback__wrapper {
  display: flex;
  background: rgba(87, 83, 83, 0.295);
  padding: 0.5rem 0.6rem;
  border-radius: 30px;
  color: hsl(25deg, 97%, 53%);
  font-size: 0.9rem;
  font-weight: lighter;
  margin-top: 1rem;
}
.back__container .appreciation__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  margin-top: 1rem;
  gap: 1rem;
}
.back__container .appreciation__wrapper .greet {
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 100%);
}
.back__container .appreciation__wrapper .salutations {
  font-size: 1rem;
  color: hsl(217deg, 12%, 63%);
}/*# sourceMappingURL=style.css.map */